@import "tailwindcss";

.font {
  @apply text-4xl md:text-6xl font-extrabold leading-snug;
}
:root{
  font-family: "Poppins";
}


.font-body{
  line-height: 142%;
  font-weight: 300;

}
.font-title {
  font-family: "Crimson Text";
}
